# Spring Cleaning!

Harold's stock data is a mess! Help him clean up his data before the auditors arrive!

In [2]:
# Import Libraries
import pandas as pd
from pathlib import Path

### Load CSV data into Pandas using `read_csv`

In [3]:
csvpath= Path('../../Resources/stock_data.csv')
df= pd.read_csv(csvpath)

### Identify the number of rows and columns (shape) in the DataFrame.

In [4]:
df.shape

(504, 14)

### Generate a sample of the data to visually ensure data has been loaded in correctly.

In [5]:
df.sample(10)

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
80,AVGO,Broadcom,Information Technology,229.57,15.94,2.948858,4.01,285.680,202.61,9.279197e+10,7.016000e+09,6.961893,4.40,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,NKE,Nike,Consumer Discretionary,62.49,24.90,1.218955,2.51,68.830,50.35,1.067761e+11,5.162000e+09,3.054993,8.91,http://www.sec.gov/cgi-bin/browse-edgar?action...
380,PVH,PVH Corp.,Consumer Discretionary,142.68,20.98,0.100529,6.77,157.960,84.53,1.147863e+10,1.057500e+09,1.761752,2.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
386,RJF,Raymond James Financial Inc.,Financials,86.06,16.94,1.098298,4.12,99.100,71.35,1.321627e+10,0.000000e+00,1.973456,2.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
235,HST,Host Hotels & Resorts,Real Estate,18.75,11.23,4.113111,1.02,21.530,17.26,1.439472e+10,1.547000e+09,3.554913,2.02,http://www.sec.gov/cgi-bin/browse-edgar?action...
306,MGM,MGM Resorts International,Consumer Discretionary,33.5,29.65,1.268743,1.92,38.410,25.15,1.963367e+10,2.680385e+09,2.227672,3.09,http://www.sec.gov/cgi-bin/browse-edgar?action...
184,XOM,Exxon Mobil Corp.,Energy,76.07,21.37,4.003120,1.88,89.300,76.05,3.261487e+11,3.905200e+10,1.770194,1.85,http://www.sec.gov/cgi-bin/browse-edgar?action...
33,AXP,American Express Co,Financials,88.34,15.00,1.495567,2.9,102.385,75.51,8.041099e+10,0.000000e+00,2.273575,3.75,http://www.sec.gov/cgi-bin/browse-edgar?action...
418,SWK,Stanley Black & Decker,Consumer Discretionary,152.86,20.57,1.577564,8.05,176.620,121.09,2.449640e+10,2.264600e+09,1.944325,3.34,http://www.sec.gov/cgi-bin/browse-edgar?action...

### Identify the number of records in the DataFrame, and compare it with the number of rows in the original file.

In [6]:
df.count()

symbol                504
name                  502
sector                501
price                 500
price_per_earnings    497
dividend_yield        499
earnings_per_share    498
52_week_low           500
52_week_high          500
market_cap            500
ebitda                492
price_per_sales       500
price_per_book        492
sec_filings           500
dtype: int64

### Identify nulls records

In [12]:
df.isnull().mean()*100

symbol                0.0
name                  0.0
sector                0.0
price                 0.0
price_per_earnings    0.0
dividend_yield        0.0
earnings_per_share    0.0
52_week_low           0.0
52_week_high          0.0
market_cap            0.0
ebitda                0.0
price_per_sales       0.0
price_per_book        0.0
sec_filings           0.0
dtype: float64

### Drop Null Records

In [9]:
df.dropna(inplace= True)

### Validate nulls have been dropped

In [10]:
df.isnull().sum()

symbol                0
name                  0
sector                0
price                 0
price_per_earnings    0
dividend_yield        0
earnings_per_share    0
52_week_low           0
52_week_high          0
market_cap            0
ebitda                0
price_per_sales       0
price_per_book        0
sec_filings           0
dtype: int64

### Default null `ebitda` values to 0. Then, validate no records are null for ebitda.

In [15]:
df['ebitda']= df['ebitda'].fillna(0)
df['ebitda'].isnull().sum()

0

### Drop Duplicates

In [ ]:
df.drop_duplicates(inplace= True)