# Spring Cleaning!

Harold's stock data is a mess! Help him clean up his data before the auditors arrive!

In [1]:
# Import Libraries
import pandas as pd
from pathlib import Path

### Load CSV data into Pandas using `read_csv`

In [2]:
csvpath= Path('../../Resources/stock_data.csv')
df= pd.read_csv(csvpath)

### Identify the number of rows and columns (shape) in the DataFrame.

In [3]:
df.shape

(504, 14)

### Generate a sample of the data to visually ensure data has been loaded in correctly.

In [4]:
df.sample(10)

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
301,MCK,McKesson Corp.,Health Care,150.23,11.68,0.889878,22.74,178.860,133.82,3.153484e+10,7.232000e+09,0.153186,2.68,http://www.sec.gov/cgi-bin/browse-edgar?action...
61,AVB,"AvalonBay Communities, Inc.",Real Estate,154.94,17.97,3.714936,6.36,199.520,156.01,2.185655e+10,1.331579e+09,10.251216,2.12,http://www.sec.gov/cgi-bin/browse-edgar?action...
399,ROST,Ross Stores,Consumer Discretionary,75.06,26.52,0.820618,2.83,85.660,52.85,2.980357e+10,2.247009e+09,2.973450,10.28,http://www.sec.gov/cgi-bin/browse-edgar?action...
473,VZ,Verizon Communications,Telecommunication Services,49.04,13.08,4.626544,7.36,54.770,42.80,2.080923e+11,4.574500e+10,1.645254,7.96,http://www.sec.gov/cgi-bin/browse-edgar?action...
234,HRL,Hormel Foods Corp.,Consumer Staples,32.21,20.39,2.290776,1.57,38.000,29.75,1.733861e+10,1.422305e+09,2.517479,3.49,http://www.sec.gov/cgi-bin/browse-edgar?action...
92,CBOE,CBOE Holdings,Financials,111.15,35.06,0.942696,2.27,138.540,76.75,1.299830e+10,4.884060e+08,8.249042,5.15,http://www.sec.gov/cgi-bin/browse-edgar?action...
296,MAS,Masco Corp.,Industrials,40.7,22.12,0.983837,1.47,46.445,31.29,1.342879e+10,1.179000e+09,2.308266,11.93,http://www.sec.gov/cgi-bin/browse-edgar?action...
280,LUK,Leucadia National Corp.,Financials,23.86,15.39,1.599360,0.33,28.300,22.23,8.910389e+09,2.201336e+09,1.041016,0.84,http://www.sec.gov/cgi-bin/browse-edgar?action...
479,WMT,Wal-Mart Stores,Consumer Staples,100.02,23.10,1.983471,4.39,109.980,66.89,3.046809e+11,3.072100e+10,0.820994,3.89,http://www.sec.gov/cgi-bin/browse-edgar?action...
235,HST,Host Hotels & Resorts,Real Estate,18.75,11.23,4.113111,1.02,21.530,17.26,1.439472e+10,1.547000e+09,3.554913,2.02,http://www.sec.gov/cgi-bin/browse-edgar?action...

### Identify the number of records in the DataFrame, and compare it with the number of rows in the original file.

In [5]:
df.count()

symbol                504
name                  502
sector                501
price                 500
price_per_earnings    497
dividend_yield        499
earnings_per_share    498
52_week_low           500
52_week_high          500
market_cap            500
ebitda                492
price_per_sales       500
price_per_book        492
sec_filings           500
dtype: int64

### Identify nulls records

In [6]:
df.isnull().mean()*100

symbol                0.000000
name                  0.396825
sector                0.595238
price                 0.793651
price_per_earnings    1.388889
dividend_yield        0.992063
earnings_per_share    1.190476
52_week_low           0.793651
52_week_high          0.793651
market_cap            0.793651
ebitda                2.380952
price_per_sales       0.793651
price_per_book        2.380952
sec_filings           0.793651
dtype: float64

### Drop Null Records

In [7]:
df.dropna(inplace= True)

### Validate nulls have been dropped

In [8]:
df.isnull().sum()

symbol                0
name                  0
sector                0
price                 0
price_per_earnings    0
dividend_yield        0
earnings_per_share    0
52_week_low           0
52_week_high          0
market_cap            0
ebitda                0
price_per_sales       0
price_per_book        0
sec_filings           0
dtype: int64

### Default null `ebitda` values to 0. Then, validate no records are null for ebitda.

In [9]:
df['ebitda']= df['ebitda'].fillna(0)
df['ebitda'].isnull().sum()

0

### Drop Duplicates

In [10]:
df.drop_duplicates(inplace= True)

### Sample `price` field

In [18]:
df['price'].head()

0    $222.89
2      56.27
3     108.48
5     108.48
6     185.16
Name: price, dtype: object

### Clean `price` Series by replacing `$`

In [26]:
df['price'] = df['price'].str.replace('$', '')
df['price'].head()

0    222.89
2     56.27
3    108.48
5    108.48
6    185.16
Name: price, dtype: object

### Confirm data type of `price`

In [19]:
df['price'].dtype

dtype('O')

### Cast `price` Series as float and then validate using `dtype`

In [27]:
df['price']= df['price'].astype('float')
df['price'].dtype

dtype('float64')